/* Estilo para todo el cuerpo de la página */
body {
    font-family: Arial, sans-serif; /* Fuente de la letra de la pagina*/
    background-color: #f0f0f0; /* Color de fondo */
    margin: 0; /* Elimina los márgenes predeterminados */
    padding: 0; /* Elimina el relleno predeterminado */
}


/*------------------------------------------------------------------------------------------------------------*/


/* Estilo para el encabezado de la página */
header {
    background-color: #71b44d; /* Color de fondo */
    color: #fff; /* Color de texto */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Alineación de texto al centro */
    border-radius: 15px;
}




/*------------------------------------------------------------------------------------------------------------*/


/* Estilo para el título principal */
h1 {
    margin: 0; /* Elimina los márgenes superiores e inferiores del título */
}

.hotel{
    color: #260016;
    
}
.bi{
    color: #260016;
}



.container {


    width: 800px;
    background: #07182E;
    position: relative;
    display: flex;
    flex-direction: column; /* Cambiar a diseño de columna */
    align-items: center; /* Centrar horizontalmente los elementos */
    justify-content: center; /* Centrar verticalmente los elementos */
    overflow: hidden;
    border-radius: 20px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 254, 254, 0.1);
   
}
.container h2,
.container p,
.container button {
    color: white;
    font-size: 2em;
    margin-bottom: 20px; /* Espacio entre elementos */

    z-index: 1;
    color: white;
    font-size: 2em;
}

  

.container::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }

  .container::before {
    content: '';
    position: absolute;
    width: 500px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 430%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }

  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .container::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
   .container:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } 
  

/*------------------------------------------------------------------------------------------------------------*/


/* Estilo para los paquetes de alojamiento, tienda de campaña y desportes*/
.package {
    margin: 20px 0; /* Espaciado entre paquetes */
}

.aloja{
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Margen externo y centrado horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.card{
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Margen externo y centrado horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #cacaca; /* Color de fondo */
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px; /*sombra*/
    border-radius: 20px /* borde de la tarjeta*/;
}

.deporte {
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Margen externo y centrado horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.tiendacampaña{
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: 20px auto; /* Margen externo y centrado horizontalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #fff; /* Color de fondo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */


    
}



.imagenes{
    width: 300px; /* Establece el ancho en 300 píxeles */
    height: 200px; /* Establece el alto en 200 píxeles */

    display: inline-block; /* Hace que la imagen sea un elemento en línea */
}

.texto{
    text-align: center;
}


/*------------------------------------------------------------------------------------------------------------*/


/* Estilo para los botones */

.reser {
    background-color: #00b7ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px; /* Espacio entre el último elemento y el botón */
    text-decoration: none;

}

.reser:hover {
    background-color: #51ff00;
    text-decoration: none;

}



/*------------------------------------------------------------------------------------------------------------*/

