
/* Estilo para todo el cuerpo de la página */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-image: url("lake-1802337_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.aw{
    text-align: center;
}
/* Estilo para el encabezado de la página */
header {
    background-color: rgba(113, 180, 77, 0.8); /* Cambiamos el color de fondo y hacemos que sea un poco transparente */
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

/* Estilo para los paquetes de alojamiento, tienda de campaña y deportes */
.card {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9); /* Hacemos que el fondo sea un poco transparente */
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 10px;
    border-radius: 20px;
}

/* Estilo para las imágenes en las secciones */
.imagenes {
    width: 300px;
    height: 200px;
    display: block; /* Cambiamos a "block" para centrar verticalmente */
    margin: 0 auto; /* Centramos horizontalmente */
    text-align: center;
}

/* Estilo para los párrafos de texto en las secciones */
.texto {
    text-align: center;
    color: #333; /* Cambiamos el color del texto para mayor legibilidad */
}

/* Estilo para los botones */
.reser {
    background-color: #00b7ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    text-decoration: none;
}

.reser:hover {
    background-color: #51ff00;
    text-decoration: none;
}


/* Estilo para la sección de reserva */
.container {
    width: 800px;
    background: #07182E;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 20px;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 254, 254, 0.1);
}

/* Estilo para el título y texto de reserva */
.container h2,
.container p,
.container button {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
    z-index: 1;
}

/* Estilo para el efecto de fondo animado */
.container::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
}

/* Estilo para el efecto de sombra alrededor del contenedor */
.container::before {
    content: '';
    position: absolute;
    width: 500px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 430%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }

  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .container::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
   .container:hover:before {
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } 


  /* Reglas de medios para dispositivos más pequeños */
@media (max-width: 768px) {
    /* Ajusta el tamaño de la fuente y el espacio en elementos según sea necesario */
    body {
        font-size: 16px;
    }

    .card {
        max-width: 90%;
    }
}
  

.boton-regresar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton-regresar:hover {
    background-color: #0056b3;
}
