/* Estilos generales */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("imagenes/tori-1976609_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;


  
}
.encabezado {
  padding: 20px;
}

.contenedor {
  display: flex;
  align-items: center;
}


/*---------------------------------------------------------------------------------*/



/* Estilos de la foto de perfil */
.fotosebas {
  width: 300px;
  height: 300px;
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
  flex: 0 0 auto;
}

 
/*---------------------------------------------------------------------------------*/




  /* Datos personales*/
  .datospersonales {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: black;
    margin-bottom: 10px;
}


.datospersonales h3 {
  margin: 0;
  font-size: 16px;
}

  .body-slm{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Agregar margen en la parte inferior */
    padding: 0;

    font-size: 4rem;
    position: absolute;

    color: black;

    text-shadow: -1px -1px 0 red, 1px -1px 0 red, 1px 1px 0 red, -1px 1px 0 red;

  }

  .sebaslm-ag{
    color: red;
    animation: sebaslm-ag 3s ease-in-out infinite;
  }

  @keyframes sebaslm-ag{
    0%, 100% {
      clip-path: polygon(0% 47%, 10% 48%, 33% 54%, 54% 60%, 70% 61%, 84% 69%, 100% 52%, 100% 100%, 0% 100% );
    }

    50%{
      clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 65%, 100% 46%, 100% 100%, 0% 100% ) ;
    } 
  }



/*-------------------------------------------------------------------------------*/

  


/*---------------------------------------------------------------------------------*/


  /* DESCRIPCION */

  .descripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    margin-bottom: 10px;
    color: black;

    gap: 20px;
}

.desc {
  margin: 0;
  font-size: 20px;
}

  


/*---------------------------------------------------------------------------------*/


  /*LISTA DE LOS TRABAJOS, DISEÑOS, CONSULTAS, TALLERES, RETOS*/
  
  .secciones-de-trabajos {
    display: flex;
    justify-content: flex-start;
    gap: 20px; /* Espacio entre los elementos */
    background-color: black;
    align-items: center;
    min-height: 60px; /* El elemento se expandirá para adaptarse al contenido adicional */
    background: inherit;
    padding: 20px;
    color: white;
    text-align: center;

    border-radius: 30px ;
}

.todo {
    flex-grow: 1; /* Hace que todos los div tengan el mismo tamaño */
    border: 2px solid black; /* Agrega un borde negro a los elementos div */
    padding: 10px; /* Espacio interno para los elementos div */

    border-radius: 30px ;

}

.todo h2 {
    color: black;
    font-size: 18px;
}

.todo ol {
    list-style: none;
    padding: 0;
    margin: 0;
    color: black;
}

.todo a {
    color: blue;
    text-decoration: none;
}
  /*---------------------------------------------------------------------------------*/






  /*PROGRAMCION WEB Y IUE*/

.piu{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    flex-direction: column;
    margin-bottom: 10px;

    background: inherit;
    padding: 50px;
    color: black;
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Mantiene la imagen fija al desplazarse */


}

.pi{
    display: flex;
    gap: 400px; /* Espacio entre los elementos */
    padding: 50px;
    border: 1px solid  black;

    font-size: 18px;
    line-height: 1.5;
    animation: borderAnimation 6S infinite linear; /* Aplica la animación */
    border: 1px solid transparent; /* Borde inicial transparente */
    padding: 10px;
}

