
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500&family=Permanent+Marker&display=swap');

body{
    font-family: 'M PLUS Rounded 1c';
    margin: 0;
    padding: 0;
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    

 
}

.part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Espacio entre los cuadros */
    text-align: center;
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 400px; /* Ancho máximo para el cuadro */

    
}

div {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    max-width: 100%; /* Evita que el cuadro sea demasiado ancho */
    
}

.ejm{
    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.ej{
    background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    cursor: pointer;
}

input[type="number"],
input[type="text"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
}

p {
    margin: 10px 0;
}

.boton-regresar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.boton-regresar:hover {
    background-color: #0056b3;
}